<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block title %}
  <title>Dimensional ILLusions </title>
  {% endblock %}
  <link rel="icon" type="image/png" sizes="50×20" href="{% static 'images/favicon.png'%}">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'css/FrontendCheatsheet.css' %}">
  <link rel="stylesheet" href="{% static 'css/Frontend_Style.css' %}">
  <link rel="stylesheet" href="{% static 'css/FrontendColorProperties.css' %}">

  <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

  {% block style %}
  <style>
    .video video {
      width: 100%;
      height: 11rem;
      object-fit: cover;
      cursor: pointer;
    }

    .video .active {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto;
      width: 70%;
      transition: .9s ease;
      border: 2px solid white;
      box-shadow: 0 0 0 100vh rgba(0, 0, 0, .7);
      z-index: 1;
    }

    .video .active:hover {
      transition: none;
      transform: translate(-50%, -50%)scale(1);
    }

    .card-body {
      background-color: #2d2d2d;
    }

    .player {
      position: relative;
      background: #111111;
      border-radius: 5rem;
      border: 1.2rem solid black;
    }

    .wrapper {
      background-color: #111111;
      color: antiquewhite;
      position: relative;
    }

    audio {
      width: 100%;
      outline: none;
    }

    .buttn {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .alignment {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
  {% endblock %}

  <script src="{% static 'js/Cookies_and_UserValidity.js' %}" type="text/javascript"></script>

</head>

<body>

  <header>

    <!--Banner-->
    <div class="banner" style="background-color: black; border: 4px solid black;">
      <div class="row g-0">
        <div class="col-4 col-md-2">
          <div class="card" style="background-color: black;">
            <img style="height: 46px;" src="{% static 'images/banner23.png' %}" alt="" loading="lazy">
          </div>

        </div>
        <div class="col-1 col-md-4"></div>

        <div class="col-7 col-md-6 pt-1">
          <div class="d-flex flex-row-reverse">

            <div class="" role="group" aria-label="Basic example">
              <button type="button" style="margin-right:1rem; border-radius: 1rem; " class="btn btn-primary btn-sm">
                <a href="{% url 'Ehub:YourCart' %}">
                  <img style="width:1.2rem; height: 1.3rem;" src="{% static 'images/carticon.png' %}"><span
                    class="badge " style="color: white;">{{order.grand_totalquantity}}</span>
                </a>
              </button>

              {% if request.user.is_authenticated %}

              <button type="button" style=" border-radius: 1rem;" id="showLogout" class="btn btn-primary btn-sm">
                <span><a style="text-decoration: none; color: white;" href="{% url 'Ehub:logout-user' %}"
                    style="color: white;">Logout</a></span>
              </button>

              {% else %}
              <button type="button" style="border-radius: 1rem;" id="showLogin" class="btn btn-primary btn-sm">
                <span><a style="text-decoration: none; color: white;" href="{% url 'Ehub:login-user' %}"
                    style="color: white;">Login</a></span>
              </button>
              {% endif %}



            </div>

          </div>
        </div>

      </div>

    </div>

    {% block head %}

    <!--Navbar Section-->
    <div class="wrapper">

      <nav class="navbar   navbar-expand-lg navbar-dark bg-set">
        <a class="navbar-brand " href="{% url 'Ehub:home' %}">Home</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">

            <li class="nav-item dropdown">
              <a class="nav-link  {% block ActivateVfx %}{% endblock %} dropdown-toggle" href="#"
                id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Vfx
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" style="background-color:rgb(22, 22, 22)"
                aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" style="color: white;" href="{% url 'Mvfx:VfxProducts' %}">Vfx</a></li>


              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link  {% block ActivateSfx %}{% endblock %} dropdown-toggle" href="#"
                id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sfx
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" style="background-color:rgb(22, 22, 22)"
                aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" style="color: white;" href="{% url 'Msfx:SfxProducts' %}">Sfx</a></li>


              </ul>
            </li>


            <li class="nav-item dropdown">
              <a class="nav-link  {% block ActivateGraphics %}{% endblock %} dropdown-toggle" href="#"
                id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Graphics
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" style="background-color:rgb(22, 22, 22)"
                aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" style="color: white;" href="{% url 'Mgraphics:GraphicsProducts' %}">Graphics</a></li>


              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link {% block ActivateBlogs %}{% endblock %}" href="{% url 'Eblog:blogs' %}">Blogs</a>
            </li>

          </ul>


        </div>

      </nav>

    </div>

  </header>
  {% endblock %}

  {% block body %}
  <!--Slider-->
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">

      <div class="carousel-item active" data-bs-interval="7000">
        <video class="d-block w-100" loop="true" autoplay="autoplay" muted>
          <source src="{% static 'videos/Dimensionalillusions.mp4' %}">
        </video>

      </div>

      <div class="carousel-item" data-bs-interval="4000">
        <img class="d-block w-100" src="{% static 'images/Album Special Pack.png' %}">
        <div class="carousel-caption d-none d-md-block" data-bs-interval="3000">
          <h5>Introducing Special Packs</h5>
          <p>Get this Early Special Sound packs for your Games, Short Commercials ...</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="4000">
        <img class="d-block w-100" src="{% static 'images/Album Spectrum.png' %}">

        <div class="carousel-caption d-none d-md-block" data-bs-interval="3000">
          <h5>Download the Audio Spectrum Templates for your Music Now.</h5>
        </div>
      </div>

    </div>

  </div>

  <!--Models with content-->
  <div class="jumbotron mb-0" style="background-color: black;">

    <h1 class="pt-3">VFX</h1>
    <div class="line-controller">
      <hr class="my-4" style="background-color: white;">
    </div>

    <div class="album font-control">
      <div class="container">
        <div class="row " style="background-color: black;">

          <!--VFX PRODUCT RENDER-->

          {% for i in getfreevfxproducts %}
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 font-control">

            <div class="card mb-4 shadow-sm " style="background-color: #111111;">

              <div class="video">
                <video loop src="{{i.watermarkfreeproduct}}">
                </video>
              </div>

              <div class="card-body">
                <p class="card-text"><strong>{{i.name}}</strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{i.watermarkfreeproduct}}" download="">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
          {% endfor %}

          {% for i in getpaidvfxproducts %}
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 font-control">
            <div class="card mb-4 shadow-sm " style="background-color: #111111;">

              <div class="video">
                <video loop src="{{i.watermarkproduct}}"></video>
              </div>


              <div class="card-body">

                <p class="card-text"><strong>{{i.name}}</strong></p>

                <div class="row">
                  <div class="col-6">
                    {% if request.user.is_authenticated %}
                    <button class="btn btn-primary btn-sm Vfx-cart" data-product="{{i.name}}"
                      data-pubid="{{i.publisher}}" data-poid="{{i.id}}" data-action="adpdt">AddtoCart</button>
                    {% else %}
                    <button type="button" class="btn btn-primary" data-bs-container="body" data-bs-toggle="popover"
                      data-placement="bottom" data-content="You need to login">AddtoCart</button>
                    {% endif %}
                  </div>

                  <div class="col-6 " style="display: flex; align-items: center; justify-content: flex-end;">
                    <small style="color: white;" class="mr-3">Price : </small>
                    <small style="color: white;" class="text ">${{i.get_final_total|floatformat:2}}</small>
                  </div>
                </div>

              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
<hr>
<hr>
    <div class="album font-control">
      <div class="container">
        <div class="row " style="background-color: black;">

          <!--VFX PRODUCT RENDER-->
          <h1 class="pt-3">SFX</h1>
          {% for i in getfreesfxproducts %}
          <div class="col-md-4 col-sm-10">
            <div class="player p-4">
                <div class="wrapper">
                  <div class="col alignment">
                    <strong class="ml-1 mb-0">{{i.name}}</strong>
                  </div>

                <audio style="height: 1.4rem;" controls>
                  <source src="{{i.watermarkfreeproduct}}">
                </audio>

                <div class="row gx-0">
                  <div class="col buttn">
                    <a href="{{i.watermarkfreeproduct}}" download="">
                          <button class="btn btn-secondary btn-sm">Download</button>
                    </a>  
                  </div>
                </div>  

              </div>

            </div>
          </div>
          {% endfor %}

          {% for i in getpaidsfxproducts %}
          <div class="col-md-4 col-sm-10">

            <div class="player p-4">
                <div class="wrapper">
                  <di class="col alignment">
                    <strong class="ml-1 mb-0">{{i.name}}</strong>
                  </di>

                </div>
                <audio style="height: 1.4rem;" controls>
                  <source src="{{i.watermarkproduct}}">
                </audio>

                <div class="row gx-0">
                    <div class="col text-center">
                      <small>Price: </small>
                      <small>${{i.get_final_total}}</small>
                    </div>

                    {% if  request.user.is_authenticated %}
                    <div class="col buttn">
                      <button data-product="{{i.name}}" data-pubid="{{i.publisher_Id}}" data-action="adpdt" class="btn btn-primary  Sfx-cart btn-sm">AddtoCart</button>
                  </div>
                  {% else %}
                    <div class="col buttn">
                        <button type="button" class="btn btn-primary" data-bs-container="body" data-bs-toggle="popover" data-placement="bottom" data-content="You need to login">
                          AddtoCart
                      </button>
                    </div>
                    {% endif %}

                </div>

            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>


    <br>
  </div>


  {% endblock %}

  <div class="cookie-container">
    <p>
      Note:You will only be able to add items in Cart only after You logged in.
    </p>
    <button class="cookie-btn">
      Ok
    </button>
  </div>


  <!--FOOTER SECTION-->
  <footer>
    <div class="footer-elements">
      <div class="row g-0">

        <div class="col-md-3 col-sm-6 col-xm-3 segment-one">

          <img src="{% static 'images/grey scal banner.png' %} " style=" height:12rem;">

        </div>

        <div class="col-md-3 col-sm-6 col-xm-12 segment-two p-5">
          <h2>About Us</h2>
          <p class="mb-0" style="color: rgb(156, 156, 156);text-decoration: none;">We provide Vfx,Sfx,Music Spectrums
            and other Graphics elements at high quality.</p>
        </div>

        <div class="col-md-3 col-sm-6 col-xm-12 segment-three p-5">
          <h2>Way</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" style="color: rgb(156, 156, 156);" aria-current="page">Jump to:-</li>
              <li class="breadcrumb-item active" aria-current="page"><a
                  style="color: rgb(156, 156, 156);text-decoration: none;" href="{% url 'Ehub:home' %}">Home</a></li>


            </ol>
          </nav>
        </div>

        <div class="col-md-3 col-sm-6 col-xm-12 segment-four p-5">
          <h2>Social Links</h2>
          <a href="https://www.facebook.com/Dimensional-illusions-100247375484205" target="_blank"><i
              class="fa fa-facebook"></i></a>
          <a href="https://www.youtube.com/channel/UCG8JsDfV6GkElowMSp-gzSg" target="_blank"><i
              class="fa fa-youtube"></i></a>
          <a href="https://twitter.com/DimensionalIlu1" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>

      </div>
    </div>
    <p class="footer-text mb-0 p-4" style="background-color: black;"> ©2020-Present All right reserved by
      @dimensionalillusions.com </p>

  </footer>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="{% static 'js/Cookie-Policy.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/Cart/OthersCart.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/Cart/SfxCart.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/Cart/GraphicsCart.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/Cart/SpecialPackCart.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/Cart/VfxCart.js' %}" type="text/javascript"></script>

  <script src="{% static 'js/LinkerSheets.js' %}" type="text/javascript"></script>

  <script src="{% static 'js/VideoFunctionality.js' %}" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
    async></script>

</body>
<script src="{% static 'js/popover.js' %}" type="text/javascript"></script>

</html>